@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You</h2>
<br />
<h4>Thanks for filling out a survey, use this link to recommend others to take the survey and we'll be sure to remember that you did that
</h4>

<br />
<h5>@ViewBag.url</h5>